.header {
  position: relative;
  align-items: center;
  margin-right: -64rem;
  margin-top: 20%;
}

a {
  color: white;
  text-decoration: none;
}

.intro {
  text-align: center;
  margin-top: 2px;
  font-family: 'Bungee', cursive;
  color: #BFBFBF;
  font-size: 4rem;
  margin-right: 1px;
}

#scroll {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
}

#hand {
  height: 10rem;
}

@media (max-width: 720px) {

  .intro {
    margin-right: 25rem;
  }

}

@media (max-width: 414px) {

  .header {
    margin: 0 auto;
  }

  .intro {
    margin-right: -27rem;
    font-size: 2rem;
    margin-top: 10rem;

 }

}
