.header {
  position: relative;
  align-items: center;
  margin-right: -64rem;
  margin-top: 20%;
}

a {
  color: #6C7A89;
  text-decoration: none;

}

.intro {
  text-align: center;
  margin-top: 2px;
  font-family: 'Bungee', cursive;
  color: #BFBFBF;
  font-size: 4rem;
  margin-right: 1px;
}

#scroll {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
}

#hand {
  height: 10rem;
}

@media (max-width: 720px) {

  .intro {
    margin-right: 25rem;
  }

}

@media (max-width: 414px) {

  .header {
    margin: 0 auto;
    text-align: center;
  }

  .intro {
    margin-right: -27rem;
    font-size: 1rem;
    width: 5px;
  }

  .link {
    /*display: none;*/
    font-size: larger;
  }

  #scroll {
    display: none;
  }


  #hand {
    height: 25rem;
    display:
   }


}

@media (max-width: 375px) {
  .intro {
    font-size: 3rem;
  }

}
