#main {
  background-color: black;
  height: 50rem;
  display: flex;
  align-items: center;
}

#text {
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 6rem;
  color: #19B5FE;
  margin-bottom: initial;

}


#info {
  font-family: 'Bungee', cursive;
  color: white;
}

.contact {
  color: #F62459;
}

#soon {
  font-family: 'Bungee', cursive;
  color: #36D7B7;
}

@media (max-width: 720px) {

  #info {
  margin-left: 0;
    }

  #text {
    font-size: 4rem;
  }
}
