#main {
  background-color: black;
  height: 50rem;
  display: flex;
}

#text {
  color: #6C7A89;
  font-family: 'Bungee', cursive;
  color: #19B5FE;
  width: 80rem;
  margin-left: 20rem;
  font-size: 4rem;

}


#info {
  font-family: 'Bungee', cursive;
  color: white;
}

.contact {
  color: #F62459;
}

#soon {
  font-family: 'Bungee', cursive;
  color: #36D7B7;
  width: 100rem;
  margin-top: 3rem;
}

@media (max-width: 414px) {
  #text {
    width: 375px;
    width: 100px;
  }
}

/* #me {
  width: 100px;
 }
*/

@media (max-width: 720px) {

  #info {
  margin-left: 0;
    }

  #text {
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 30px;
  }

  #me {
    margin-left: 1rem;
    width: 1rem;
    font-size: 7px;
    display: flex;
    flex-flow: column;
  }
}
